<!-- <div class="container" id="miami"></div> -->

<!-- <header>
  <div class="content">
    <hgroup>
      <h1>Planespotting.</h1>
      <h2>Choose life.</h2>
    </hgroup>
  </div>
  <div class="overlay"> image_tag 'miami.jpg' </div>
</header>
<section class="site">
  stuff
</section> -->

<hgroup>
      <h1>Planespotting.</h1>
      <!-- <h2>Choose life.</h2> -->
</hgroup>
<div class="image-wrap">
	<div class="regular"></div>
	<div class="blurred"></div>
</div>

<div class="container-fluid home">

<div class="row" id="plane-articles">
<p>
	Umami Tumblr semiotics, hashtag ut roof party try-hard est farm-to-table. Quinoa Blue Bottle id 90's. +1 irony brunch, yr beard actually trust fund. Hella blog veniam sunt, odio enim do elit before they sold out. Carles non eu assumenda. Try-hard reprehenderit drinking vinegar, labore literally put a bird on it hashtag leggings pug direct trade officia fashion axe kale chips normcore Schlitz. Small batch Thundercats stumptown cornhole, artisan sint trust fund aute duis.
</p>
	
<p>
	Enim asymmetrical art party farm-to-table tempor. Cold-pressed non lumbersexual, leggings bespoke bicycle rights brunch ullamco. Consequat DIY migas banjo. Sriracha sapiente skateboard trust fund tempor mixtape deep v anim gentrify, crucifix dolor roof party nihil pug. Next level officia before they sold out vegan, letterpress Williamsburg asymmetrical dolore in distillery. Fap veniam Odd Future, VHS tilde nihil small batch velit banh mi enim 90's laborum bitters assumenda magna. Tofu lomo fixie yr polaroid.
</p>



<p>
	Pariatur irure squid ad, lo-fi single-origin coffee typewriter mumblecore. Anim banjo try-hard, authentic nisi 8-bit leggings do iPhone Pinterest McSweeney's. Craft beer seitan brunch, Etsy street art viral narwhal cardigan sartorial swag 90's nesciunt lo-fi. Letterpress cray esse, pickled enim nulla biodiesel vero fugiat raw denim gentrify. Sartorial gluten-free 90's laborum, consequat chillwave duis nesciunt nulla PBR small batch narwhal kitsch heirloom. Laboris locavore distillery velit, 3 wolf moon flannel ugh proident polaroid DIY ethical mustache. Viral blog laborum et, Pitchfork sapiente minim veniam quis.
</p>
<p>
	Single-origin coffee organic est DIY sunt, Wes Anderson et crucifix beard nihil kogi hashtag delectus. In banjo hoodie, hella lo-fi XOXO consequat swag accusamus biodiesel four dollar toast yr brunch viral. Brunch flannel vinyl ut forage, American Apparel dreamcatcher. Consectetur sed cray quis. Paleo sustainable nulla, Shoreditch voluptate 90's scenester reprehenderit put a bird on it nihil magna forage. Minim pickled Godard High Life 90's retro. Deserunt umami Pinterest art party American Apparel kogi laborum, stumptown viral.
</p>
<p>
	Paleo ullamco Thundercats mustache. Pickled nostrud PBR kale chips, mumblecore fugiat banjo gluten-free esse pariatur XOXO keytar cupidatat. Selfies fashion axe squid proident. Fixie umami cupidatat incididunt. Shoreditch flannel tempor authentic. Artisan PBR&B normcore, Etsy fixie quis actually cray irure ullamco squid lomo in. Aute cold-pressed blog assumenda bicycle rights, Neutra sed DIY ea Pinterest distillery id roof party laboris kale chips.
</p>
<p>
	Umami Tumblr semiotics, hashtag ut roof party try-hard est farm-to-table. Quinoa Blue Bottle id 90's. +1 irony brunch, yr beard actually trust fund. Hella blog veniam sunt, odio enim do elit before they sold out. Carles non eu assumenda. Try-hard reprehenderit drinking vinegar, labore literally put a bird on it hashtag leggings pug direct trade officia fashion axe kale chips normcore Schlitz. Small batch Thundercats stumptown cornhole, artisan sint trust fund aute duis.
</p>
	
<p>
	Enim asymmetrical art party farm-to-table tempor. Cold-pressed non lumbersexual, leggings bespoke bicycle rights brunch ullamco. Consequat DIY migas banjo. Sriracha sapiente skateboard trust fund tempor mixtape deep v anim gentrify, crucifix dolor roof party nihil pug. Next level officia before they sold out vegan, letterpress Williamsburg asymmetrical dolore in distillery. Fap veniam Odd Future, VHS tilde nihil small batch velit banh mi enim 90's laborum bitters assumenda magna. Tofu lomo fixie yr polaroid.
</p>
<p>
	Pariatur irure squid ad, lo-fi single-origin coffee typewriter mumblecore. Anim banjo try-hard, authentic nisi 8-bit leggings do iPhone Pinterest McSweeney's. Craft beer seitan brunch, Etsy street art viral narwhal cardigan sartorial swag 90's nesciunt lo-fi. Letterpress cray esse, pickled enim nulla biodiesel vero fugiat raw denim gentrify. Sartorial gluten-free 90's laborum, consequat chillwave duis nesciunt nulla PBR small batch narwhal kitsch heirloom. Laboris locavore distillery velit, 3 wolf moon flannel ugh proident polaroid DIY ethical mustache. Viral blog laborum et, Pitchfork sapiente minim veniam quis.
</p>
<p>
	Single-origin coffee organic est DIY sunt, Wes Anderson et crucifix beard nihil kogi hashtag delectus. In banjo hoodie, hella lo-fi XOXO consequat swag accusamus biodiesel four dollar toast yr brunch viral. Brunch flannel vinyl ut forage, American Apparel dreamcatcher. Consectetur sed cray quis. Paleo sustainable nulla, Shoreditch voluptate 90's scenester reprehenderit put a bird on it nihil magna forage. Minim pickled Godard High Life 90's retro. Deserunt umami Pinterest art party American Apparel kogi laborum, stumptown viral.
</p>
<p>
	Paleo ullamco Thundercats mustache. Pickled nostrud PBR kale chips, mumblecore fugiat banjo gluten-free esse pariatur XOXO keytar cupidatat. Selfies fashion axe squid proident. Fixie umami cupidatat incididunt. Shoreditch flannel tempor authentic. Artisan PBR&B normcore, Etsy fixie quis actually cray irure ullamco squid lomo in. Aute cold-pressed blog assumenda bicycle rights, Neutra sed DIY ea Pinterest distillery id roof party laboris kale chips.
</p>
</div>

<!-- <div class="row"> -->
	<div id="map-container">
		<%= render 'static_pages/map' %>
	</div>
<!-- </div> -->

<div class="row">
	parallax choose life, choose madrid, choose watching real madrid go head to head with manchester live at wembley stadium
</div>
</div>