<!-- <div class="container" id="miami"></div> -->

<header>
  <div class="content">
    <hgroup>
      <h1>Planespotting.</h1>
      <h2>Choose life.</h2>
    </hgroup>
  </div>
  <div class="overlay"><%= image_tag 'miami.jpg' %></div>
</header>
<section class="site">
  stuff
</section>