<!-- <div class="plane-header">image_tag("bcg_slide-3.jpg")</div> -->
<div class="le-div">
    <div class="parallax">

    <!-- .........................SLIDE #1......................... -->

        <!-- <div class="parallax__group" id="group1">
            <div class="parallax__layer parallax__layer--base">
                <div class="plane-header"> -->

                <!-- image_tag went here before! -->

               <!--  </div>
            </div>
            <div class="parallax__layer parallax__layer--back">
                <div class="title">
                    
                </div>
            </div>
        </div> -->


        <div id="group2" class="parallax__group" style="height: 90vh;">
            <div class="parallax__layer parallax__layer--base">
                <div class="title hgroup"><h1>Planespotting.</h1></div>
            </div>
            <div class="parallax__layer parallax__layer--back" style="-webkit-transform: translateZ(-300px) scale(2);">
                <div class="title"></div>
            </div>
        </div>

    <!-- .........................SLIDE #2......................... -->    

       <!--  <div class="parallax__group" id="group2">
            <div class="parallax__layer parallax__layer--base">
                <div class="title">This is the foreground</div>
            </div>
        </div>  -->

        <div class="parallax__group" id="black-bar" style="height: 55vh;">
            <div class="parallax__layer .parallax__layer--fore" style="background: black; -webkit-transform(translateZ(180px) scale(.6)">   
            </div>
        </div>

    <!-- .........................SLIDE #3......................... -->

    </div>
</div>