<!-- HTML -->
<!-- <section id="slide-1" class="homeSlide">
    <div class="bcg"
        data-center="background-position: 50% 0px;" data-top-bottom="background-position: 50% -100px;"
        data-anchor-target="#slide-1">
        <div class="hsContainer">
            <div class="hsContent"
                data-center="opacity: 1"
                data-106-top="opacity: 0"
                data-anchor-target="#slide-1 h2">
                <h2 id="planespotting">Planespotting<br>choose life.</h2>
                <p>"This slide moves the image at a slower speed than page scroll"</p>
            </div>
        </div>
    </div>
</section> -->
<div class="plane-header"><%= image_tag("bcg_slide-3.jpg") %></div>
<!-- <div class="container"> -->
    <div class="parallax">
        <div class="parallax__layer parallax__layer--back">
            <div class="title">This is the background</div>
        </div>
        <div class="parallax__layer parallax__layer--base">
            <div class="title">This is the foreground</div>
        </div>
    </div>
<!-- </div> -->