// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bourbon/bourbon";

// #map-container {
//   border: 2px dashed black;
// }


// // d3 styling

//     #map {
//       background-color: #fff;
//       border: 1px solid #ccc;
//     }
//     .background {
//       fill: none;
//       pointer-events: all;
//     }
//     #countries, #states {
//       fill: #cde;
//       stroke: #fff;
//       stroke-linejoin: round;
//       stroke-linecap: round;
//     }
//     #countries .active, #states .active {
//       fill: #89a;
//     }
//     #cities {
//       stroke-width: 0;
//     }
//     .city {
//       fill: #345;
//       stroke: #fff;
//     }
//     pre.prettyprint {
//       border: 1px solid #ccc;
//       margin-bottom: 0;
//       padding: 9.5px;
//     }
  






// SKROLLR PARALLAX EFFECT

// Slide #1 - Fade out elements

/* CSS */
// .hsContainer {
//     display: table;
//     table-layout: fixed;
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
//     position: relative;
//     opacity: 0;
// }
// .hsContent {
//     max-width: 450px;
//     margin: -150px auto 0 auto;
//     display: table-cell;
//     vertical-align: middle;
//     color: #ebebeb;
//     padding: 0 8%;
//     text-align: center
// }
// .bcg {
//     background-position: center center;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     background-size: cover;
//     height: 100%;
//     width: 100%;
// }
// /* Slide 1 */
// #slide-1 .bcg {
//   background-image: url(image_path('morning_sky.jpg'));
//   background-size: 100% 400px;
// }

// #planespotting {
//   margin-bottom: 405px;
// }


// .plane-header {
//   background-image: url(image_path('bcg_slide-3.jpg'));
//   background-size: cover;
//   background-position: center center;
//   background-repeat: no-repeat;
//   background-attachment: fixed;
//   height: 100%;
//   width: 100%;
//   margin: 0 auto;

//   img {
//     margin: 0 auto;
//     width: 100%;
//   }
// }

.plane-header {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
  margin: 0 auto;

  img {
    margin: 0 auto;
    width: 100%;
  }
}





  /* Parallax base styles
  --------------------------------------------- */

  .parallax {
    // background-image: url(image_path('bcg_slide-3.jpg'));
    // background-repeat: no-repeat;
    // background-size: cover;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 1px;
    perspective: 1px;
  }

  // .parallax {
  //   margin-left: 0;
  //   margin-right: 0;
  // }


  // .parallax {
  //   height: 100vh;
  //   overflow-x: hidden;
  //   overflow-y: auto;
  //   -webkit-perspective: 1px;
  //   perspective: 1px;
  // }



  .parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  .parallax__layer--back {
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
  }


  /* demo styles
  --------------------------------------------- */

  * {
    margin:0;
    padding:0;
  }

  body {
    font: 100% / 1.5 Arial;
  }

  .parallax {
    font-size: 200%;
  }

   /* add some padding to force scrollbars */
  .parallax__layer {
    padding: 100vh 0;
  }

  .parallax__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
  }

   /* centre the content in the parallax layers */
  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    // color: rgba(255, 255, 255, 0.5);
  }


  /* misc
  --------------------------------------------- */
  // .demo__info {
  //   position: absolute;
  //   z-index:100;
  //   bottom: 1vh;
  //   top: auto;
  //   font-size:80%;
  //   text-align:center;
  //   width: 100%;
  // }
