// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.users-control {
	
	background-image: url(image_path('aviators.jpg'));
    // background-repeat: no-repeat;
    background-size: cover;
    color: white;

    .user-profile-div {
    	margin-top: 20px;

    	.user {
    		border: 1px solid white;
    		border-radius: 12px;
    		margin: 5px;
    	}
    	
    }

    &.index {
    	text-align: center;
    	background-image: url(image_path('users-lobby.jpg'));
    	a {
    		color: white;
    		text-decoration: none;
    	}
    }

    &.edit {
    	// text-align: center;
    	margin-top: 50px;
    	background-image: url(image_path('users-lobby.jpg'));

    	.form-group {
    		width: 50%;
    	}	
    }

    &.articles-index {
    	margin-top: 50px;
    	height: 100vh;
    }

    &.show-article {
    	margin-top: 50px;
    	height: 100vh;

    	a {
    		color: white;
    		text-decoration: none;
    	}
    }
   

}